[submodule "awesome/lain"]
	path = awesome/lain
	url = https://github.com/lcpz/lain.git
[submodule "awesome/redflat"]
	path = awesome/redflat
	url = https://github.com/worron/redflat.git
[submodule "awesome-config"]
	path = awesome-config
	url = https://github.com/Solace7/awesome-config
