#exclude all of the things except the things I dont want excluded

.IdeaIC2017.2/
.screenlayout
Atom
.gitignore.save
Cadence/
Clementine/
Dexed.settings
GIMP/
Google/
INRIA/
Kid3/
MuseScore/
Projucer/
QtProject.conf
RawTherapee/
REAPER/
Riot/
Slack/
SuperCollider/
Synergy/
Thunar/
Trolltech.conf
Unknown Organization/
VirtualBox/
airwave/
akregatorrc
ardour5/
ardour6/
arkrc
autostart/
baloofileinformationrc
baloofilerc
blender/
bluedevilglobalrc
cairo-dock/
caja/
cava/
chromium/
configstore/
copyq/
corebird/
darktable/
dconf.bak/
dconf/
deluge/
devrantron/
digikamrc
discord/
dolphinrc
drkonqirc
drumstick.sourceforge.net/
emaildefaults
enchant/
eog/
esmska/
etcher-electron/
evolution/
falkTX/
fontconfig/
gconf/
ghb/
gpick/
gtk-2.0/
gtk-3.0/
gtkrc
gtkrc-2.0
guitarix/
hackmud/
htop/
inkscape/
jack/
kactivitymanagerd-statsrc
kactivitymanagerdrc
kateschemarc
kcmdisplayrc
kcminputrc
kconf_updaterc
kdebugrc
kdeconnect/
kded_device_automounterrc
kdeglobals
kdenliverc
key.txt
kfontviewrc
kglobalshortcutsrc
khotkeysrc
kiorc
kmixrc
knfsshare
konsolerc
kritadisplayrc
kritarc
krunnerrc
kscreenlockerrc
kservicemenurc
ksmserverrc
ksplashrc
ksysguardrc
ktimezonedrc
kwinrc
kwinrulesrc
libaccounts-glib/
libfm/
libreoffice/
lsp-plugins/
lutris/
lxterminal/
menus/
mimeapps.list
monitors.xml
mopidy/
mpd/log
mpd/pid
nattt/
nautilus/
neofetch/
networkmanager-dmenu/
nitrogen/
ntk/
octopi/
onlyoffice/
oomox/
openAV/
openbox/
patchagerc
pavucontrol.ini
pcmanfm/
phantom-code/
pitivi/
plasma-localerc
plasma-nm
plasma-org.kde.plasma.desktop-appletsrc
plasmarc
plasmashellrc
powerdevilrc
powermanagementprofilesrc
pulse/
pychess/
qt5ct/
qtcurve/
razor/
redshift/
retroarch/
rncbc.org/
rosegardenmusic/
sddmthemeinstallerrc
session/
sonic-visualiser/
soundkonverterrc
startupconfig
startupconfigfiles
startupconfigkeys
subserial-network/
synapse/
systemsettingsrc
terminology/
termite/
thefuck/
tilda/
tlpui/
trashrc
unity3d/
user-dirs.dirs
user-dirs.locale
vlc/
volumeicon/
wal_steam/
whoozle.github.io/
xfce4/xfconf/xfce-perchannel-xml/displays.xml
xfce4/xfconf/xfce-perchannel-xml/xfce4-mime-settings.xml
xnviewmp/
yad.conf
yakyak/
yay/
zoomus.conf
filetypesrc
gprename/
keditfiletyperc
